<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="LOGS_DIR" value="logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>[%d{MM-dd HH:mm:ss}] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="FILE1" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIR}/simpleLoggerAdvisorHigh.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOGS_DIR}/simpleLoggerAdvisorHigh.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}, %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE2" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIR}/simpleLoggerAdvisorLow.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOGS_DIR}/simpleLoggerAdvisorLow.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss}, %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.springframework.ai" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.example.springaisample.advisor.SimpleLoggerAdvisorHigh" level="INFO">
        <appender-ref ref="FILE1" />
    </logger>

    <logger name="com.example.springaisample.advisor.SimpleLoggerAdvisorLow" level="INFO">
        <appender-ref ref="FILE2" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <!-- INFO(trace > debug > info > warn > error)  -->
</configuration>
