# PostgreSQL Docker image tag
POSTGRES_IMAGE=postgres:17.9-alpine

# Host port
POSTGRES_PORT=5432

# Superuser account
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Default database created on first startup
POSTGRES_DB=mydatabase

# Container timezone
TZ=Asia/Seoul
